**Introducción**

Nodo (Parada):
- Nombre: Denominacion
- Código de la estación: CodigoEstacion

Relación (Línea):
- Línea: NumeroLineaUsuario
- Tiempo: LongitudTramoAnterior / VelocidadTramoAnterior

In [53]:
import pandas as pd
df = pd.read_csv('./INPUT/M4_ParadasPorItinerario.csv', usecols=[4,5,7,10,13,22,23])
df

,NUMEROLINEAUSUARIO,SENTIDO,CODIGOESTACION,NUMEROORDEN,DENOMINACION,LONGITUDTRAMOANTERIOR,VELOCIDADTRAMOANTERIOR
0,10b,1,278,7,LA GRANJA,2061.134509,37.18
1,10b,2,278,5,LA GRANJA,1497.633199,37.18
2,10b,1,279,6,LA MORALEJA,1325.800516,37.18
3,10b,2,279,6,LA MORALEJA,2057.302872,37.18
4,10b,1,280,5,MARQUES DE LA VALDAVIA,1514.584317,37.18
...,...,...,...,...,...,...,...
585,10b,2,282,9,BAUNATAL,1112.447862,37.18
586,10b,1,283,2,REYES CATOLICOS,1556.360052,37.18
587,10b,2,283,10,REYES CATOLICOS,1086.744262,37.18
588,10b,1,284,1,HOSPITAL INFANTA SOFIA,0.000000,0.00
589,10b,2,284,11,HOSPITAL INFANTA SOFIA,1548.464713,37.18

In [54]:
df_filtrado = df[df['SENTIDO'] == 1]
df_limpio = df_filtrado.drop_duplicates(subset=['CODIGOESTACION', 'NUMEROLINEAUSUARIO'], keep='first', inplace=False)
df_limpio

,NUMEROLINEAUSUARIO,SENTIDO,CODIGOESTACION,NUMEROORDEN,DENOMINACION,LONGITUDTRAMOANTERIOR,VELOCIDADTRAMOANTERIOR
0,10b,1,278,7,LA GRANJA,2061.134509,37.18
2,10b,1,279,6,LA MORALEJA,1325.800516,37.18
4,10b,1,280,5,MARQUES DE LA VALDAVIA,1514.584317,37.18
6,10b,1,281,4,MANUEL DE FALLA,1108.192304,37.18
8,10a,1,204,20,JOAQUIN VILUMBRALES,3272.364045,31.12
...,...,...,...,...,...,...,...
580,7b,1,291,3,JARAMA,921.216300,33.38
582,7b,1,292,2,HENARES,686.929700,33.38
584,10b,1,282,3,BAUNATAL,1085.922078,37.18
586,10b,1,283,2,REYES CATOLICOS,1556.360052,37.18
588,10b,1,284,1,HOSPITAL INFANTA SOFIA,0.000000,0.00

In [ ]:
# Cogemos una línea de ejemplo para comporbar si es correcto
lineas = df_limpio['NUMEROLINEAUSUARIO'].unique().tolist()
df_line = df_limpio[df_limpio['NUMEROLINEAUSUARIO'] == '12-1'].sort_values(by='NUMEROORDEN')
df_line

,NUMEROLINEAUSUARIO,SENTIDO,CODIGOESTACION,NUMEROORDEN,DENOMINACION,LONGITUDTRAMOANTERIOR,VELOCIDADTRAMOANTERIOR
16,12-1,1,210,2,PARQUE LISBOA,841.921,40.53
18,12-1,1,211,3,ALCORCON CENTRAL,1278.985,40.53
21,12-1,1,212,4,PARQUE OESTE,1566.990,40.53
566,12-1,1,213,5,UNIVERSIDAD REY JUAN CARLOS,2607.765,40.53
568,12-1,1,214,6,MOSTOLES CENTRAL,1306.587,40.53
571,12-1,1,215,7,PRADILLO,698.708,40.53
562,12-1,1,216,8,HOSPITAL DE MOSTOLES,1031.324,40.53
564,12-1,1,217,9,MANUELA MALASAÑA,1598.815,40.53
34,12-1,1,218,10,LORANCA,2902.405,40.53
36,12-1,1,219,11,HOSPITAL DE FUENLABRADA,2277.737,40.53
38,12-1,1,220,12,PARQUE EUROPA,719.981,40.53
40,12-1,1,221,13,FUENLABRADA CENTRAL,877.740,40.53
42,12-1,1,222,14,PARQUE DE LOS ESTADOS,1300.089,40.53
44,12-1,1,223,15,ARROYO CULEBRO,2719.907,40.53
46,12-1,1,224,16,CONSERVATORIO,950.642,40.53
48,12-1,1,225,17,ALONSO DE MENDOZA,1215.894,40.53
50,12-1,1,226,18,GETAFE CENTRAL,1319.163,40.53
53,12-1,1,227,19,JUAN DE LA CIERVA,1323.720,40.53
55,12-1,1,228,20,EL CASAR,1572.088,40.53
57,12-1,1,229,21,LOS ESPARTALES,817.647,40.53
59,12-1,1,230,22,EL BERCIAL,1199.883,40.53
61,12-1,1,231,23,EL CARRASCAL,1544.318,40.53
62,12-1,1,232,24,JULIAN BESTEIRO,1058.544,40.53
64,12-1,1,233,25,CASA DEL RELOJ,1363.821,40.53
66,12-1,1,234,26,HOSPITAL SEVERO OCHOA,852.280,40.53
68,12-1,1,235,27,LEGANES CENTRAL,1100.396,40.53
70,12-1,1,236,28,SAN NICASIO,1164.882,40.53
12,12-1,1,209,29,PUERTA DEL SUR,3366.349,40.53

In [ ]:
import networkx as nx
import pandas as pd
import numpy as np


G = nx.Graph()
# Añadimos los nodos al grafo
for i_parada, parada in df_limpio.iterrows():
    if parada['DENOMINACION'] in G:
        continue
    G.add_node(parada['DENOMINACION'], name=parada['DENOMINACION'], station_code=parada['CODIGOESTACION'])

# Añadimos las relaciones a los nodos
for line in df_limpio['NUMEROLINEAUSUARIO'].unique().tolist():
    df_line = df_limpio[df_limpio['NUMEROLINEAUSUARIO'] == line].sort_values(by='NUMEROORDEN')
    paradas = list(df_line.iterrows())

    if "-2" in line:
        continue

    for i_parada in range(len(paradas) - 1): # Ignorar la última parada
        i, parada = paradas[i_parada]
        i_next, parada_next = paradas[i_parada + 1]
        tiempo = parada_next['LONGITUDTRAMOANTERIOR'] / parada_next['VELOCIDADTRAMOANTERIOR'] if parada_next['VELOCIDADTRAMOANTERIOR'] != 0 else 0
        G.add_edge(parada['DENOMINACION'], parada_next['DENOMINACION'], line=line, time=tiempo) 

    if "-" in line:
        i, parada0 = paradas[0]
        i_ult, parada_ult = paradas[len(paradas)-1]
        print(parada0['DENOMINACION'], parada_ult['DENOMINACION'])
        tiempo = parada_ult['LONGITUDTRAMOANTERIOR'] / parada_ult['VELOCIDADTRAMOANTERIOR'] if parada_ult['VELOCIDADTRAMOANTERIOR'] != 0 else 0
        G.add_edge(parada0['DENOMINACION'], parada_ult['DENOMINACION'], line=line, time=tiempo)


# Crear el grafo a partir del DataFrame
grafo_metro = G
grafo_metro

PARQUE LISBOA PUERTA DEL SUR
LAGUNA LUCERO

In [131]:
nx.write_gexf(grafo_metro, 'grafo.gexf')