**Introducción**

API de la que extraeremos los datos:
https://pokeapi.co/docs/v2

Nodo (Pokémon):








Nodo 1 (Pokemón):
- Nombre

Nodo 2 (Tipo de pokémon):
- Nombre del tipo

Relación 1 (no direccional, pokémon ~ tipo):
- A que tipo pertence el pokemon (Pokemón)-[Pertece a]->(Tipo)

Relacion 2 (direccional, tipo A -> tipo B):
- Quien revienta a quien por tipo (Tipo A)-[Revienta a]->(Tipo B)
- Peso: Eficacia de la reventación (?No se si esto tiene sentido?)

Relación 2 (direccional, pokémon A -> pokémon B):
- Quien evoluciona a quien

In [2]:
import pandas as pd
df = pd.read_csv('./INPUT/M4_ParadasPorItinerario.csv', usecols=[4,5,7,9,13])
df

,NUMEROLINEAUSUARIO,SENTIDO,CODIGOESTACION,CODIGOANDEN,DENOMINACION
0,10b,1,278,755,LA GRANJA
1,10b,2,278,756,LA GRANJA
2,10b,1,279,757,LA MORALEJA
3,10b,2,279,758,LA MORALEJA
4,10b,1,280,759,MARQUES DE LA VALDAVIA
...,...,...,...,...,...
585,10b,2,282,764,BAUNATAL
586,10b,1,283,765,REYES CATOLICOS
587,10b,2,283,766,REYES CATOLICOS
588,10b,1,284,767,HOSPITAL INFANTA SOFIA
589,10b,2,284,768,HOSPITAL INFANTA SOFIA